{{template "base" .}}

{{define "content"}}
<h1>Branches</h1>

{{if .Branches}}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Repo</th>
            <th>Status</th>
            <th>Task</th>
        </tr>
    </thead>
    <tbody>
        {{range .Branches}}
        <tr>
            <td><a href="/branches/{{.Repo}}/{{.Name}}">{{.Name}}</a></td>
            <td><a href="/repos/{{.Repo}}">{{.Repo}}</a></td>
            <td class="{{.Status}}">{{.Status}}</td>
            <td>{{if .TaskRepo}}<a href="/tasks/{{.TaskRepo}}/{{.TaskSlug}}">{{.TaskSlug}}</a>{{end}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{else}}
<p>No branches found.</p>
{{end}}
{{end}}
